.title {
    margin: 30px 0 !important;
    /* text-transform: uppercase;  */
}

.card-img {
    text-align: center;

    img {
        width: 250px;
        height: 250px;

    }
}

.card-btn {
   justify-content: center;
}
.card-info{
    text-align: center;
    font-size: 1.1rem;
    font-weight: bold;
}